<link rel="stylesheet" href="../../css/listaEquipes.css">

<section class="listaEquipes">

    <article class="cabecalhoListaEquipes">
        <h1>EQUIPES DE F1</h1>
        <a href="/criarEquipe">Nova Equipe</a>
    </article>
    
    <table class="tabela-equipes">
        <thead>
            <tr>
                <th>Nome</th>
                <th>País</th>
                <th>Chefe de Equipe</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <% equipes.forEach( (item)=> { %>
                <tr id="row-<%= item.id_equipe %>">
                    <td>
                        <%= item.nome %>
                    </td>
                    <td>
                        <%= item.pais %>
                    </td>
                    <td>
                        <%= item.chefe_equipe %>
                    </td>
                    <td>
                        <a href="/editarEquipe/<%= item.id_equipe %>">
                            <img src="../../images/editarEquipe.png" alt="Editar Equipe">
                        </a>
                    </td>
                    <td>
                        <a href="/deletarEquipe/<%= item.id_equipe %>">
                            <img src="../../images/deletarEquipe.png" alt="Deletar Equipe">
                        </a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</section>